<%= form_with model: user do |form| %>
    <div>
      <%= form.label :username %>
      <%= form.text_field :username %><br>
      <% user.errors.full_messages_for(:username).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    <br>
    <div>
      <%= form.label :email_address %>
      <%= form.email_field :email_address %><br>
      <% user.errors.full_messages_for(:email_address).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    <br>
    <div>
    <%= form.label :steam_id %>
    <%= form.text_field :steam_id %><br>
    <% user.errors.full_messages_for(:steam_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>

    <br>
<li> <%= link_to "Return to index", root_path %> </li>


<% end %>