<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
        <div class="card card-signin my-5 border border-dark bg-light">
          <div class="card-body">
            <h3 class="card-title text-center">Add game to library</h3>
                  <div class="form-label-group">
<h5 class="card-subtitle"> Add existing game </h5>

<%= form_with(url: user_save_game_path, :html => {:class => "form"}) do |form| %>
  <div class="form-contorl-group">
    <%= form.select :game_id, @videogames.map { |game| [game.game_name, game.id] }, class: "dropdown" %>
  </div>
    
  <div class="actions">
  <%= form.submit "Add Existing Game", class: "btn btn-lg btn-primary btn-block text-uppercase" %>
  </div>
<% end %>


<h5 class="card-subtitle"> Add new game </h5>
<%= form_with(url: user_create_and_save_game_path, :html => {:class => "form"}) do |form| %>
    <% if @videogame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@videogame.errors.count, "error") %> prohibited this videogame from being saved:</h2>
      <ul>
        <% @videogame.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
    <div class="form-control-group>
        <%= form.label :game_name %>
        <%= form.text_field :game_name, value: @videogame.game_name, class: "form-control" %>
    </div>
    
    <div class="form-control-group">
        <%= form.label :developer %>
        <%= form.text_field :developer, value: @videogame.developer, class: "form-control"  %>
    </div>
    
    <div class="form-control-group">
        <%= form.label :number_of_players %>
        <%= form.number_field :number_of_players, value: @videogame.number_of_players, class: "form-control" %>
    </div>
    
    <div class="actions">
    <%= form.submit "Add New Game", class: "btn btn-lg btn-primary btn-block text-uppercase" %>
    </div>
<% end %>