<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
        <div class="card card-signin my-5 border border-dark bg-light">
          <div class="card-body">
            <h5 class="card-title text-center">Add game to library</h5>
                  <div class="form-label-group">





<h2> Add existing game </h2>




<%= form_with url: user_save_game_path do |form| %>
    <%= form.select :game_id, @videogames.map { |game| [game.game_name, game.id] } %>
    <%= form.submit  %>
<% end %>


<h2> Add new game </h2>
<%= form_with(url: user_create_and_save_game_path) do |form| %>
    <% if @videogame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@videogame.errors.count, "error") %> prohibited this videogame from being saved:</h2>
      <ul>
        <% @videogame.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
    <div class="field">
        <%= form.label :game_name %>
        <%= form.text_field :game_name, value: @videogame.game_name %>
    </div>
    
    <div class="field">
        <%= form.label :developer %>
        <%= form.text_field :developer, value: @videogame.developer  %>
    </div>
    
    <div class="field">
        <%= form.label :number_of_players %>
        <%= form.number_field :number_of_players, value: @videogame.number_of_players %>
    </div>
    
    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>