<h1>Welcome to <%= @user.username %>'s profile </h1>

<h2> Contact Info: </h2>
<p> <b> Email Address: </b> <%= @user.email_address %></p>
<p> <b>  Steam Id: </b> <%=  @user.steam_id %> </p>


<li> <%= link_to "Return to index", root_path %> </li>

<li><%= link_to "Delete User", user_path(@user),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
<table>
<tr>
<th>Game Name</th>
<th>Developer </th> 
<th>Number of Players</th>
</tr>
<% @user.videogames.each do |game| %>
    <tr>
    <td><%= game.game_name %></td>
    <td><%= game.developer %></td>
    <td><%= game.number_of_players %></td>
    </tr>
<%end%>

</table>