

  
<div class="container pb-5">  
  <div class="row justify-content-center">
    <div class= "col col-auto text-center border border-dark rounded bg-light">
    <h1>Welcome to <%= @user.username %>'s profile </h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <% if @looking_at_self %>
        <div class="col-auto"
        <button type="button"> <%= link_to "Edit User", edit_user_path(@user),class: "btn btn-sm btn-secondary"%>  </button>
        </div>
        <div class="col-auto">
          <button type="button"
            <%= link_to "Delete User", user_path(@user), class: "btn btn-sm btn-danger",
                            method: :delete,
                            data: { confirm: "Are you sure?" } %>
          </button>
        </div>
      <% end %>

  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-3 card bg-light">
      <h2 class="card-title text-center"> Contact Info </h2>
    

        <div class="card-body">
        <a class="font-weight-bold"> Email Address: </a> <%= @user.email %>
        <p class="font-weight-bold"> Steam Id: </p> <%=  @user.steam_id %> 
        <p class="font-weight-bold"> Steam URL: </p> <%=  @user.steam_url %> 
        </div> 

    </div>
  
    <div class="col-8 justify-content-center">
        <table class="table table-light ">
        <thead class="thead-dark"
        <tr>
        <th scope="col"> Game Name</th>
        <th>Developer </th>
        <th>Number of Players</th>
        <% if @looking_at_self %>
        <th> <button type="btn "> <%= link_to "Add Game to Library", user_add_game_path(@user), class: "btn btn-sm bt-dark" %> </button> </th>
        <% else %>
        <th></th>
        <% end %>
        </tr>
        </thead>
        <% @user.videogames.each do |game| %>
            <tr>
            <td><%= link_to "#{game.game_name}", videogame_path(game) %></td>
            <td><%= game.developer %></td>
            <td><%= game.number_of_players %></td>
            <% if @looking_at_self %>
                <td> <%= button_to "Remove from library", user_remove_game_path(@user), params: {game_id: game.id}, data: {confirm: "Are you sure?"} %></td>
            <% end %>
                </tr>
        <%end%>
    </table>
    </div>
    
  </div>
</div>