<h1>Welcome to <%= @user.username %>'s profile </h1>

<h2> Contact Info: </h2>
<p> <b> Email Address: </b> <%= @user.email %></p>
<p> <b>  Steam Id: </b> <%=  @user.steam_id %> </p>


<li> <%= link_to "Return to index", root_path %> </li>
<% if current_user == @user %>
<li> <%= link_to "Add Game to Library", user_add_game_path(@user) %> </li>

<li><%= link_to "Edit User", edit_user_path(@user) %>

<li><%= link_to "Delete User", user_path(@user),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
                  <% end %>
<table>
<tr>
<th>Game Name</th>
<th>Developer </th>
<th>Number of Players</th>
</tr>
<% @user.videogames.each do |game| %>
    <tr>
    <td><%= link_to "#{game.game_name}", videogame_path(game) %></td>
    <td><%= game.developer %></td>
    <td><%= game.number_of_players %></td>
    <% if current_user == @user %>
        <td> <%= button_to "Remove from library", user_remove_game_path(@user), params: {game_id: game.id}, data: {confirm: "Are you sure?"} %></td>
    <% end %>
        </tr>
<%end%>
</table>